*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu{
	width: 250px;
	height: 100%;
	background-color: #2a3042;
	position: fixed;
	left: 0;
	top: 0;
	overflow-y: scroll;
	z-index: 2;
	color: #6a7186;
	font-size: 13px;
	padding-left: 10px;
}

.header{
	width: 100%;
	height: 70px;
	/*margin-left: 250px;*/
	position: fixed;
	top: 0;
	z-index: 3;
	background-color: white;
}

.header-items{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
}

.header-item-left{
	width: 860px;
	height: 70px;
	display: flex;
	/*padding-left: 260px; */
}

.logo{
	width: 233px;
/*ეს 233 პიქსელი იმიტომ რომ სქროლის დიზაინს
 ვერ ვაკეთებ, ისე 250 უნდა იყოს*/
	height: 70px;
	background-color: #2a3042;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-img{
	width: 90px;
	height: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.menu-resize{
	width: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: gray;
}

.search{
	width: 222px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search input{
	width: 220px;
	height: 38px;
	border-radius: 25px;
	background-color: #F2F3F4;
	border-style: none;
	text-align: center;
	/*position: relative;*/
}


/*.search-icon{
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 50%;
	top: 50%;
	left: 20px;
}
*/

.mega-menu{
	width: 116px;
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: gray;
}

.mega-menu a{
	font-size: 18px;
	padding-right: 10px;
	text-decoration: none;
	color: gray;
}

.header-item-right{
	width: 400px;
	height: 70px;
	display: flex;
}

.language{
	width: 60px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.more{
	width: 60px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.expand{
	width: 60px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.notifications{
	width: 60px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile{
	width: 100px;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: gray;
}

.profile-image{
	width: 36px;
	height: 36px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 100%;
	padding-right: 10px;

}

.settings{
	width: 60px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper{
	width: 100%;
	/*height: 1000px;*/
	background-color: #f6f6f9;
	padding-left: 250px;
	padding-top: 70px;
}

.dashboard-section{
	width: 100%;
}

.dashboard-items{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 9fr;
	padding-right: 20px;
	padding-left: 20px;
}

.dashboard-title{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dashboard-content{
	width: 100%;
	display: grid;
	grid-template-columns: 1.2fr 2.5fr;
	grid-column-gap: 20px;
}

.dashboard-left-content{
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1.2fr;
	grid-row-gap: 20px;
	padding-bottom: 20px;
}

.dashboard-right-content{
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 4fr;
	grid-row-gap: 20px;
}

.skote-dashboard{
	width: 100%;
/*	height: 310px;*/
	background-color: white;
	display: grid;
	grid-template-rows: 1fr 1.3fr;
}

.skote-dashboard-top{
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1.2fr;
	background-color: #d4dbf9;
}

.welcome-back{
	width: 100%;
	display: flex;
	flex-direction: column;
	color: #556ee6;
	padding: 10px;
}

.welcome-back h3{
	padding-bottom: 10px;
}

.skote-dashboard-img{
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.skote-dashboard-bottom{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.profile-info{
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	padding-left: 15px;
}

.profile-img{
	width: 72px;
	height: 72px;
	border-radius: 100%;
	border: 4px solid #f8f8fb;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: -30px;
}

.profile-text{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 70px;	
	/*es paddingi ar vici scoria tu ara*/
}

.profile-text h4{
	color: gray;
	padding-top: 10px;
}

.other-profile-info{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.projects-revenue{
	width: 100%;
	display: flex;
	padding-left: 20px;
	padding-top: 20px;
}

.projects{
	width: 100%;
}

.projects h4{
	color: gray;
	padding-top: 25px;
}
.revenue{
	width: 100%;
}

.revenue h4{
	color: gray;
	padding-top: 25px;
}

.view-profile{
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 20px;
	padding-top: 20px;
}

.view-p{
	height: 25px;
	width: 100px;
	background-color: #556ee6;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
}

.monthly-earning{
	width: 100%;
	background-color: white;
}

.monthly-earning-items{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	padding-left: 20px;
}

.monthly-statistics{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.monthly-statistics h3{
	padding-bottom: 30px;
}

.monthly-statistics h4{
	color: gray;
}

.monthly-statistics h2{
	padding-top: 30px;
	padding-bottom: 10px;
}

.view-more{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 70px;
	color: gray;
}

.view-m{
	width: 100px;
	height: 25px;
	background-color: #556ee6;
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	color: white;
}

.dashboard-right-top{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
	grid-column-gap: 20px;
}

.dashboard-row-item{
	width: 100%;
	background-color: white;
	display: flex;
	padding-left: 20px;
}

.dashboard-row-item h4{
	color: gray;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 16px;
}

.dashboard-row-item h3{
	font-size: 23px;
}

.orders{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.dashboard-icon{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard-icon-background{
	width: 48px;
	height: 48px;
	border-radius: 100%;
	background-color: #556ee6;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.revenue{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.revenue-icon{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.revenue-icon-background{
	width: 48px;
	height: 48px;
	border-radius: 100%;
	background-color: #556ee6;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.diagram-section{
	width: 100%;
	background-color: white;
}

.diagram-section-items{
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 7fr 1fr;
}

.diagram-section-top{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}


.week{
	width: 
}
.diagram-section-top a{
	color: gray;
	text-decoration: none;
	font-size: 17px;
}

.diagram-section-middle{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 13fr;
}

/*.diagram-section-column{
	background-color: yellow;
}

.diagram-section-row{
	background-color: green;
}*/

.diagram-section-bottom{
	width: 100%;
}

.middle-section{
	width: 100%;
}

.middle-section-items{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

.middle-section-item{
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}

.social-source{
	width: 100%;
	font-size: 19px;
	padding-top: 20px;
	color: #495057;
}

.facebook-sales{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}

.facebook-icon{
	width: 48px;
	height: 48px;
	border-radius: 100%;
	background-color: #d4dbf9;
	display: flex;
	justify-content: center;
	align-items: center;
	color: blue;
}

.facebook-sales h4{
	padding-top: 20px;
	font-size: 19px;
	color: #495057;
}

.learn-more-items{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #495057;
	padding-top: 20px;
}

.learn-more-items a{
	color: blue;
	text-decoration: none;
	padding-top: 20px;
}

.learn-more-items{
	color: #74789c;
}

.social-networks{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}

.fb-icon{
	width: 32px;
	height: 32px;
	color: white;
	background-color: #556ee6;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.twitter-icon{
	width: 32px;
	height: 32px;
	color: white;
	background-color: #50a5f1;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.instagram-icon{
	width: 32px;
	height: 32px;
	color: white;
	background-color: #e83e8c;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-network{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.social-networks h3{
	padding-top: 10px;
	color: #495057;
}

.social-networks h4{
	color: #74789c;
	padding-top: 10px;
	padding-bottom: 20px;
}

.activity{
	width: 100%;
	padding-top: 20px;
	font-size: 19px;
	color: #495057;
}

.activity-list{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.nov{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.arrow{
	width: 20px;
}

.date{
	width: 65px;
}

.nov-text{
	width: 200px;
}

.activity-list h5{
	color: #74789c;
}

.view-more-act{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 20px;
}

.view-m-act{
	width: 100px;
	height: 25px;
	background-color: #556ee6;
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	color: white;
}

.top-cities{
	width: 100%;
	padding-top: 20px;
	font-size: 19px;
	color: #495057;
}

.pin-icon{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	padding-top: 30px;
}

.pin-icon h3{
	font-size: 23px;
	padding-top: 20px;

}

.pin-icon h4{
	font-size: 16px;
	padding-top: 5px;
	color: gray;
}

.top-cities-statistics{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}

.city-statistics{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

.city{
	width: 100%;
	font-size: 20px;
	color: gray;
	display: flex;
	align-items: center;
}

.statistics{
	width: 100%;
	font-size: 22px;
	display: flex;
	align-items: center;
}

.city-diagram{
	width: 100%;
	display: flex;
	align-items: center;
}

.s-f-d{
	width: 80%;
	height: 5px;
	background-color: #556ee6;
	border-radius: 5px;
}

.l-a-d{
	width: 70%;
	height: 5px;
	background-color: #34c38f;
	border-radius: 5px;
}

.s-d-d{
	width: 60%;
	height: 5px;
	background-color: #f1b44c;
	border-radius: 5px;
}

.table-section{
	width: 100%;
}

.table-section-items{
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	
}

.latest-transaction{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-color: white;
	display: flex;
	align-items: center;
}

.table-items{
	width: 100%;
	/*display: flex;
	flex-direction: row;
	justify-content: space-between;*/
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/*.table-item-titles{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	display: grid;
	grid-template-columns: 1fr 2fr 3fr 3fr 2fr 4.2fr 4.5fr 4fr;
	background-color: #f8f9fa;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}*/

.table-item{
	width: 100%;
/*	display: flex;
	flex-direction: row;
	justify-content: space-between;*/
	display: grid;
	grid-template-columns: 1fr 3fr 3fr 3fr 2fr 4.2fr 4.5fr 4fr;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: gray;
	background-color: white;
}

.view-details-a{
	width: 100px;
	height: 40px;
	background-color: #556ee6;
	color: white;
	border-radius: 10px;
	text-decoration: none;
}

.payment-status{
	display: flex;
	justify-content: center;
}
.payment-method{
	display: flex;
	flex-direction: row;
}

.payment-method h4{
	padding-left: 7px;
}

.paid{
	width: 40px;
	height: 18px;
	background-color: #34c38f;
	color: white;
	border-radius: 10px;
	text-align: center;
}

.chargebook{
	width: 95px;
	height: 18px;
	background-color: #f46a6a;
	color: white;
	text-decoration: none;
	border-radius: 10px;
	text-align: center;
/*	display: flex;
	justify-content: center;*/
}

.refund{
	width: 58px;
	height: 18px;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	background-color: #f1b44c;
	color: white;
}

.footer-section{
	width: 100%;
	padding-top: 30px;
}

.footer-section-items{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #f8f8fb;
	color: gray;

}

/*.footer-section-item{
	width: 100%;
	display: flex;
}
*/


/*menu*/
.menu-items{
	width: 220px;
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	padding-top: 70px;
}

.texts{
	padding-top: 20px;
}

.menu-item{
	width: 200px;
	display: flex;
	flex-direction: column;
	transition: 0.5s;
}

.main-item li{
	list-style-type: none;
}

.other-items li{
	list-style-type: none;
}
.main-item{
	width: 200px;
	height: 30px;
	display: flex;
	flex-direction: row;
	color: gray;
	align-items: center;
	transition: 0.5s;
}

.main-item a{
	color: gray;
	text-decoration: none;
	font-size: 17px;
	padding-left: 10px;
	transition: 0.5s;
	padding-right: 50px;
}

.other-items{
	width: 200px;
	/*height: 100px;*/
	display: flex;
	flex-direction: column;
	display: none;
	transition: 0.5s;
}

.other-items a{
	font-size: 17px;
	color: gray;
	text-decoration: none;
	padding-left: 30px;
	transition: 0.5s;
}

.main-item:hover a{
	color: white;
}

.main-item:hover{
	color: white;
}

.main-item:hover .other-items{
	display: block;
}

.menu-item:hover .other-items{
	display: block;
	transition: 0.5s;
}

.other-items:hover a{
	color: white;
}

/*.a-class:hover a{
	color: white;
}
*/

/* ese rom damecera */


@media only screen and (max-width: 768px){
	.wrapper{
		width: 100%;
	}

	.logo{
		width: 250px;
	}
	.dashboard-content{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.middle-section-items{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.header-items{
		display: flex;
		flex-direction: column;
	}

	.header-item-right{
		width: 100%;
		background-color: white;
		margin-left: 250px;
	}
	.dashboard-title{
		margin-top: 70px;
	}

	.dashboard-icon-background{
		width: 30px;
		height: 30px;
	}
	.table-item-titles{
		font-size: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}
	.table-item {
		font-size: 10px;
		padding-left: 5px;
	}

	.chargebook{
		width: 60px;
	}

	.refund{
		width: 50px;
	}

	.dashboard-row-item h3{
		font-size: 15px;
	}
}


@media only screen and (max-width: 420px){
	.menu{
		display: none;
	}

	.wrapper{
		padding-left: 0px;
	}

	.logo{
		display: none;
	}
	.header-item-right{
		margin-left: 0px;
	}

	.table-item-titles{
		font-size: 7px;
	}

	.table-item{
		font-size: 7px;
	}

	.chargebook{
		width: 50px;
		height: 13px;
	}

	.refund{
		width: 35px;
		height: 13px;
	}

	.paid{
		width: 30px;
		height: 13px;
	}
}